{% extends "header.html" %}
{% block index %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AP Therapy</title>
</head>
<body>
    <h1>Prepare for the AP Calc AB/BC Test and AIM FOR A 5!</h1>
    <p>FEATURES</p>
    <ul>
        <li>Made by Calc Survivors: a toolkit made by 2 Calc BC survivors that would've helped us a lot!</li>
        <li>AI-generated Practice Problems & Explanations (for some question types): answer for points and real-life experience!</li>
        <li>Lectures: interrogate GPT until you can understand a concept!</li>
        <li>RESOURCES: check out all the links & resources I used to master AP Calc!</li>
        <li>A MOCK TEST-ISH THING; VERY TESTY AND PROBABLY NOT ACCURATE, BUT TRY PREDICTING YOUR AP SCORE AND FIND YOUR WEAKEST SPOTS!!!!!</li>
    </ul>

    <footer class="footer bg-dark text-white py-4">
        <div class="container text-center">
            <p class="small mb-0 mt-0">&copy; 2025 <strong>MathDoneMad</strong> All Rights Reserved?</p>
        </div>
    </footer>
</body>
</html>
{% endblock %}