{% extends "header.html" %}
{% block index %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DUMMY SITE</title>
</head>
<body>
    <h1>A math website for BCC to make Math easier!</h1>
    <p>FEATURES</p>
    <ul>
        <li>CALCNOMORE: A comprehensive guide to all resources, practice quizzes, and calculators for you to survive AP Calc (AB & BC)</li>
        <li>NOTREADY: I'd do the same with AP Stat, but I didn't take it yet :(</li>
        <li>MATH THERAPY: An AI Chatbot that converts problem screenshots to answers, explanations, bonus questions, and study links if you're still stuck with the problem! DO THIS WITH SAT, AP CALC, GPA SUBJECTS, AND ANY OTHER MATH PROBLEM!</li>
        <li>DUOMATH: Every math problem you solve correctly gives you points!</li>
        <li>1600MODE: FOR THE SAT, GET A (June-crafted) FORMULA SHEET, links to the best resources, and a chatbot TO HELP YOU LEARN THE CONCEPTS!</li>
        <li>MANUAL LABOR: For bonus, email any math question you don't know, and I'll hand-answer & explain for you within the day :)</li>
        <li>SO BASICALLY, improve GPA, prepare for APs and the SAT, and have fun learning math by trying to not do math!</li>
    </ul>

    <footer class="footer bg-dark text-white py-4">
        <div class="container text-center">
            <p class="small mb-0 mt-0">&copy; 2025 <strong>MathDoneMad</strong> All Rights Reserved?</p>
        </div>
    </footer>
</body>
</html>
{% endblock %}