{% extends "header.html" %}
{% block index %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1600Mode</title>
</head>
<body>
    <h1>1600Mode</h1>
    <p>FEATURES</p>
    <ul>
        <li>Learn more about SAT Math topics with curated resources & an AI tutor!</li>
        <li>Get points by solving AI's questions and solutions!</li>
        <li>(Note: very experimental and sloppy) TRY A GENERATED MOCK TEST AND FIND YOUR WEAK SPOTS/PREDICTED SCORE!</li>
    </ul>

    <footer class="footer bg-dark text-white py-4">
        <div class="container text-center">
            <p class="small mb-0 mt-0">&copy; 2025 <strong>MathDoneMad</strong> All Rights Reserved?</p>
        </div>
    </footer>
</body>
</html>
{% endblock %}